extends layout

block content
  h1= titulo
  p Bienvenido al sistema
  ul
    li: a(href="/empleados") Ver empleados
    li: a(href="/empleados/nuevo") Nuevo empleado
    li: a(href="/turnos") Ver turnos
    li: a(href="/turnos/nuevo") Nuevo turno
