extends ../layout

block content
  h1= titulo
  a(href="/empleados/nuevo") + Nuevo empleado
  if empleados && empleados.length
    table
      thead
        tr
          th Nombre
          th DNI
          th Rol
      tbody
        each e in empleados
          tr
            td= e.nombre
            td= e.dni
            td= e.rol
  else
    p No hay empleados cargados.
