extends ../layout

block content
  h1= titulo

  form(action="/empleados/agregar" method="post")

    label(for="nombre") Nombre
    input#nombre(type="text" name="nombre" required)
    br

    label(for="dni") DNI
    input#dni(type="text" name="dni" required)
    br

    label(for="rol") Rol
    select#rol(name="rol")
      option(value="Administrativo") Administrativo
      option(value="Médico") Médico
    br


    button(type="submit") Guardar
